body {
  font-family: "Poppins", sans-serif;
}

p {
  color: var(--text);
}

/* Navbar */
.brand-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
  text-align: ;
}

.brand-title > span {
  letter-spacing: 1px;
}

/* Hero */
#hero {
  min-height: calc(100vh - 91px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/background/hero.webp);
  background-size: cover;
  background-position: center;
}

#hero h1 {
  color: #2c3e50;
}

#hero p {
  color: #4a4a4a;
}

#hero a {
  background-color: #ff6347;
  border-color: #ff6347;
}

.hu__hu__ {
  animation: hu__hu__ infinite 2s ease-in-out;
}

@keyframes hu__hu__ {
  50% {
    transform: translateY(5px);
  }
}

/* Sambutan */
.judul {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5em;
}

.sambutan .row p {
  text-align: justify;
}

.sambutan img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px #aaa;
  cursor: pointer;
}

.sambutan h3 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5em;
}

/* tips */
.tips {
  background-color: var(--bg);
}

.tips h3 {
  font-size: 1.3em;
}

.tips p {
  font-size: 0.8rem;
}

.tips .mm {
  background-color: #d3fcf8;
}

.tips .mp {
  background-color: #f9e8e8;
}

/* Question */
.text-justify {
  text-align: justify;
}

/* Berita */
.berita {
  background-color: var(--bg);
}

/* Footer */
.footer {
  height: 4rem;
  line-height: 4rem;
  background-color: #005f73;
}

/* Responsive Breakpoints */
/* Mobile */
@media screen and (max-width: 767px) {
  /* Navbar */
  .brand-title {
    font-size: 0.7em;
  }

  /* Tips */
  .card-custom {
    width: 100% !important;
  }

  /* Footer */
  footer p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 992px) {
  /* Hero */
  #hero {
    min-height: 50vh;
  }
}
